flake8  # linter
black   # autoformatter
rope    # rename symbols
sphinx
rstcheck
sphinx_rtd_theme
sphinx-autobuild
pytest
coverage
twine
pandas
wheel
setuptools # Easily download, build, install, upgrade, and uninstall Python packages